In [ ]:
# load statement

In [ ]:
# find the max Dr./Cr. and min Dr./Cr.

In [ ]:
# find the top 10 person/shop on the basis of number of transaction

In [ ]:
# total paid to talako pasal: key_word = ['family store', 'ninglasaini', 'ramesh bohara', 'ninglashaini']
# dataframe format: Description, Count, Total Amount

In [ ]:
# make new data frame/table for pasal except talako pasal. Table caontains Description/Name, Count/number of payes, Amount
# keyword: [store, khaja ghar, restaurant, bhojanalaya, cottage, traders, hotel, bhojanal]

In [ ]:
# combine talako pasal and other pasal. only one row for talako pasal. Description: talako pasal, Count: sum of counts, Amount: sum of amounts
# total topup and Paid for Nepal Telecom Data Pack Service

In [ ]:
# Calculate number of payes to talako pasal on time range: morning, afternoon, evening, night