In [3]:
import numpy as np
import pandas as pd

1. Providing list as data in dataframe

In [ ]:
list = [[1, 2, 3, 4, 5], [2, 3, 5, 7, 11], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]]
col_name = ['Real', 'prime', 'even', 'odd']
index = ['num1', 'num2', 'num3', 'num4', 'num5'] 

# now, you have to create a dataframe which have column mention above

2. Selecting cell of dataframe

In [ ]:
# how do we select the 3rd value of even number

3. Selecting element of array

In [4]:
# select the second value of third row
arr = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])

4. Selecting multiple rows

In [ ]:
# select the rows: num3, num4, num1

5. Selecting multiple columns

In [5]:
# select the columns: even, prime, odd (manual columns)

6. Accessing value using boolean

In [13]:
student = {
    'name': ['Prakash', 'Darshan', 'Nishant', 'Sandesh', 'Krishna', 'Nirajan', 'Nimraj', 'Nirmal', 'BP'],
    'Age': [18, 16, 18, 20, 20, 18, 19, 19, 20],
    'Percentage': [75, 70, 90, 45, 99, 77, 80, 35, 19],
    'Active': ['yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes']
}

df = pd.DataFrame(student)
print(df)

# print data of student who are not active
# print data of student who are both fail(below40) and aged 18+.

      name  Age  Percentage Active
0  Prakash   18          75    yes
1  Darshan   16          70    yes
2  Nishant   18          90     no
3  Sandesh   20          45    yes
4  Krishna   20          99    yes
5  Nirajan   18          77    yes
6   Nimraj   19          80     no
7   Nirmal   19          35    yes
8       BP   20          19    yes