In [1]:
import pandas as pd
import numpy as np

Creating data frame

In [90]:
raw_data = [[1, 2, 3, 4, 5], [2, 3, 5, 7, 11], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]]
raw_data_arr = np.array(raw_data).T
col_name = ['real', 'prime', 'even', 'odd']
index = ['num1', 'num2', 'num3', 'num4', 'num5']
# index = [1, 2, 3, 4, 0]

df = pd.DataFrame(raw_data_arr, columns=col_name, index=index)
print(df)

      real  prime  even  odd
num1     1      2     2    1
num2     2      3     4    3
num3     3      5     6    5
num4     4      7     8    7
num5     5     11    10    9

How to access columns

In [126]:
# by property method (return series)
df.real             # only works when label has no space and special character

# by [big_bracket method] (return series)
df['real']              # df['Real'][0]: chain indexing - to access element of column (not recommended)

# multiple columns (return dataframe)
print(df[['real', 'even']])

# we use df[] or df.col_name to access column only, but for great control on selection use loc or iloc

      real  even
num1     1     2
num2     2     4
num3     3     6
num4     4     8
num5     5    10

Chain Indexing

In [ ]:
# two types of chain indexing

# position indexing 
df['real'][0]
# chek whether index/label '0' is given or not, if yes: index/label indexing, else: position indexing (assign first element)
# view: when there is label indexing
# copy: when there is position indexing
# problem: so when we try to assign new value using using position indexing, value on actual dataframe is not changed, and this error is hard to find.
# label indexing don't give warning, but still not safe to use

# label indexing
# df['real']['num1']

## .loc: Label Based Indexing
1. expect label of rows and columns
2. expect array of boolean value equal to the length of axis being called. 
3. slicing: first and last value are included

In [111]:
# give label of row and column
# syntax df.loc[row, column]

df.loc['num2']              # if we give only one value, it is treated as row (series)
df.loc['num2', 'even']      # element selection (single value)
df.loc['num2':'num4']       # slicing row (df)
df.loc[:, 'even']           # selecting column even (series)
df.loc[:, 'prime':'odd']    # seelcting column by slicing (df)

      prime  even  odd
num1      2     2    1
num2      3     4    3
num3      5     6    5
num4      7     8    7
num5     11    10    9

what if we need to select multiple rows (not serial wise)

In [110]:
# by providing list of rows-lable
df.loc[['num3', 'num5', 'num1']]

      real  prime  even  odd
num3     3      5     6    5
num5     5     11    10    9
num1     1      2     2    1

What if we need to select multiple column (not serial wise) (manual columns)

In [115]:
df.loc[:, ['even', 'prime']]
# df[['even', 'prime']]

      even  prime
num1     2      2
num2     4      3
num3     6      5
num4     8      7
num5    10     11

Boolean indexing

In [120]:
df.loc[df['prime']>5]
# df.loc[[False, False, False, True, True]]

      real  prime  even  odd
num4     4      7     8    7
num5     5     11    10    9

### .iloc: Access by integer position
1. give actual positional index. and rest of thing is same as .loc
2. slicing: last value is not included (as list, array slicing)

In [125]:
# syntax: df.iloc[row, column]
print(df.iloc[0, 2])
print(df.iloc[0:3, 2])
print(df.iloc[0:3, 2:4])

2
num1    2
num2    4
num3    6
Name: even, dtype: int64
      even  odd
num1     2    1
num2     4    3
num3     6    5

In [130]:
df.columns
df.index
df.head()
df.tail()

      real  prime  even  odd
num1     1      2     2    1
num2     2      3     4    3
num3     3      5     6    5
num4     4      7     8    7
num5     5     11    10    9

### type of data to expect on return
Rule of thumb:
1. One column → Series
2. One row → Series
3. Multiple of anything → DataFrame
4. Wrap names in a list [] to force a DataFrame.