### Data

In [2]:
import pandas as pd
import numpy as np

In [12]:
# reading csv data
# pd.set_option('display.max_columns', None)
pd.set_option('display.width', 150) 
data = pd.read_csv('../../Data.csv')
print(data)

      ID                 Name  Age  Gender Department  Salary Joining_Date Performance_Score  Experience_Years  Bonus Remote_Work
0      1       Noah Hernandez   56    Male         IT   35486   2015-01-01         Excellent                18   8196          No
1      2           Ava Miller   46  Female         IT   38335   2015-01-16         Excellent                 9   4368         Yes
2      3  Charlotte Hernandez   32  Female    Finance  116900   2015-01-31              Poor                 8   4797          No
3      4        Ethan Johnson   25    Male         IT  119112   2015-02-15           Average                 4   2792          No
4      5       William Martin   38  Female         IT   41130   2015-03-02           Average                 5   6732         Yes
..   ...                  ...  ...     ...        ...     ...          ...               ...               ...    ...         ...
195  196     Charlotte Thomas   23  Female         HR   67131   2023-01-04           Average                 7   9942          No
196  197    Isabella Martinez   49  Female  Marketing   72944   2023-01-19              Poor                 9   2762          No
197  198        Mia Rodriguez   21    Male  Marketing  103963   2023-02-03              Poor                16   8101         Yes
198  199           John Jones   28  Female    Finance   54285   2023-02-18         Excellent                 8   8674          No
199  200         Evelyn Davis   34  Female         IT   67626   2023-03-05              Poor                18   7122         Yes

[200 rows x 11 columns]

Basic property and methods

In [5]:
# head: first n row of data (d:5)
data.head(10)

#describe: count, mean, std, min, etc of numerical column(defaault)
data.describe()

#info: number of - (row and column), (null, non), Dtype,  
data.info()

# shape
data.shape

# name of columns
data.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 200 non-null    int64
 1   Name               200 non-null    object
 2   Age                200 non-null    int64
 3   Gender             200 non-null    object
 4   Department         200 non-null    object
 5   Salary             200 non-null    int64
 6   Joining_Date       200 non-null    object
 7   Performance_Score  200 non-null    object
 8   Experience_Years   200 non-null    int64
 9   Bonus              200 non-null    int64
 10  Remote_Work        200 non-null    object
dtypes: int64(5), object(6)
memory usage: 17.3+ KB

Index(['ID', 'Name', 'Age', 'Gender', 'Department', 'Salary', 'Joining_Date',
       'Performance_Score', 'Experience_Years', 'Bonus', 'Remote_Work'],
      dtype='object')

Filtering

In [16]:
# boolean indexing: give rows matching the condition
# what if we want employee/s having salary more than 100,000
salary_lakh = data[(data['Salary']>100000) & (data['Department']=='IT')]
print(salary_lakh)

remote = salary_lakh[(salary_lakh['Gender']=='Male') | (salary_lakh['Performance_Score'] == 'Good')]
print(remote)

      ID             Name  Age  Gender Department  Salary Joining_Date Performance_Score  Experience_Years  Bonus Remote_Work
3      4    Ethan Johnson   25    Male         IT  119112   2015-02-15           Average                 4   2792          No
5      6     Olivia Davis   56  Female         IT  117508   2015-03-17           Average                19   4476         Yes
11    12        Ava Jones   53  Female         IT  119780   2015-06-15           Average                 5   2854         Yes
27    28   James Anderson   59    Male         IT  107052   2016-02-10              Good                14   9577          No
37    38  Sophia Gonzalez   35    Male         IT  113460   2016-07-09              Good                12   6299         Yes
60    61    Emma Gonzalez   43  Female         IT  116188   2017-06-19              Poor                17   3079         Yes
155  156     Daniel Lopez   42  Female         IT  105880   2021-05-14           Average                19   6796          No
    ID             Name  Age Gender Department  Salary Joining_Date Performance_Score  Experience_Years  Bonus Remote_Work
3    4    Ethan Johnson   25   Male         IT  119112   2015-02-15           Average                 4   2792          No
27  28   James Anderson   59   Male         IT  107052   2016-02-10              Good                14   9577          No
37  38  Sophia Gonzalez   35   Male         IT  113460   2016-07-09              Good                12   6299         Yes

Adding new column

In [36]:
raw_data = [[1, 2, 3, 4, 5], [2, 3, 5, 7, 11], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]]
raw_data_arr = np.array(raw_data).T
col_name = ['real', 'prime', 'even', 'odd']
index = ['num1', 'num2', 'num3', 'num4', 'num5']
# index = [1, 2, 3, 4, 0]

df = pd.DataFrame(raw_data_arr, columns=col_name, index=index)
print(df)

# adding new column (product of real and odd)
RealxOdd = df['real'] * df['odd']
df['Real_Odd'] = RealxOdd
print(df)

      real  prime  even  odd
num1     1      2     2    1
num2     2      3     4    3
num3     3      5     6    5
num4     4      7     8    7
num5     5     11    10    9
      real  prime  even  odd  Real_Odd
num1     1      2     2    1         1
num2     2      3     4    3         6
num3     3      5     6    5        15
num4     4      7     8    7        28
num5     5     11    10    9        45

In [ ]:
# insert method insert(position, col_name, col_data)
cube = df['real'] ** 3
df.insert(4, 'Cubes', cube)

In [29]:
print(df)

      real  prime  even  odd  Cubes  Cube  Real_Odd
num1     1      2     2    1      1     1         1
num2     2      3     4    3      8     8         6
num3     3      5     6    5     27    27        15
num4     4      7     8    7     64    64        28
num5     5     11    10    9    125   125        45

Deleting Column: Now we have two columns for cube, what if we want to remove one

In [ ]:
# del
del df['Cubes']
print(df)

# drop: return new dataframe, no change in original, so use inplace=True
# df.drop('Cubes', axis=1, inplace=True)        # axis1 = column
# df.drop(columns=[col_name], inplace=True)     # no need to mention axis    
# df.drop(index=[index], inplace=True)          # remove row   

# pop: remove from dataframe and store it into new variable
# df.pop('Cubes')

      real  prime  even  odd  Cube  Real_Odd
num1     1      2     2    1     1         1
num2     2      3     4    3     8         6
num3     3      5     6    5    27        15
num4     4      7     8    7    64        28
num5     5     11    10    9   125        45

Updating value

In [37]:
student = {
    'name': ['Prakash', 'Darshan', 'Nishant', 'Sandesh', 'Krishna', 'Nirajan', 'Nimraj', 'Nirmal', 'BP'],
    'Age': [18, 16, 18, 20, 20, 18, 19, 19, 20],
    'Percentage': [75, 70, 90, 45, 99, 77, 80, 35, 19],
    'Active': ['yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes']
}

df = pd.DataFrame(student)
print(df)

      name  Age  Percentage Active
0  Prakash   18          75    yes
1  Darshan   16          70    yes
2  Nishant   18          90     no
3  Sandesh   20          45    yes
4  Krishna   20          99    yes
5  Nirajan   18          77    yes
6   Nimraj   19          80     no
7   Nirmal   19          35    yes
8       BP   20          19    yes

In [38]:
# make Nimraj active=Yes, and BP active=No
df.loc[6, 'Active'] = 'yes'
df.loc[8, 'Active'] = 'no'

print(df)

      name  Age  Percentage Active
0  Prakash   18          75    yes
1  Darshan   16          70    yes
2  Nishant   18          90     no
3  Sandesh   20          45    yes
4  Krishna   20          99    yes
5  Nirajan   18          77    yes
6   Nimraj   19          80    yes
7   Nirmal   19          35    yes
8       BP   20          19     no